@{
	ViewBag.Title = "Segítség a letöltéshez";
	ViewBag.MetaKeywords = "letöltés, segítség, súgó, Microsoft Azure Dev Tools, Imagine, DreamSpark, MSDNAA, szoftver, letöltés";
	ViewBag.MetaDescription = "Segítség és útmutató a letöltéshez.";
}

<h1 class="page-header">Segítség a letöltéshez</h1>

<p>
    Az egyetemi szoftverekhez letöltés útján lehet hozzájutni.
</p>
<p>
    Első lépésként kattintson a
    <a href="http://msdnaa.bme.hu">http://msdnaa.bme.hu</a>
    oldal fejlécében található <strong>Letöltés</strong> feliratú
    linkre. A megjelenő oldalon összefoglaltuk, hogy a
    különböző Microsoft termékek közül melyek érhetők el a
    Campus és melyek az Azure Dev Tools licenc keretében.
    (Megjegyzés: ezen az oldalon nem soroltuk fel az összes
    elérhető terméket, csak a főbb termék csoportokat!) A
    megfelelő oszlop alján található Letöltés linkre
    kattintva az adott licenchez tartozó letöltő szerverre
    jut.
</p>


