@{
	ViewBag.Title = "Tudnivalók az Imagine programról";
	ViewBag.MetaKeywords = "Microsoft Imagine, DreamSpark, MSDNAA, szoftver, letöltés, információk, tudnivalók, program";
	ViewBag.MetaDescription = "Tájékoztató az Imagine programról.";
}


<h1 class="page-header">Tudnivalók az Imagine programról</h1>

<p>
	<span class="label label-important">Változás!</span>
	<span class="text-error">
		A korábban DreamSpark néven futó program 2016-tól Microsoft Imagine néven fut.
	</span>
</p>

<p>
	Az Imagine
	létrehozásával a Microsoft célja a fejlesztők
	Microsoft-technológiákkal való munkájának segítése volt. Az MSDN
	előfizetők hozzáférhetnek a Microsoft csaknem összes termékéhez,
	valamint a kifejezetten a fejlesztőknek szánt cikkeket,
	leírásokat, példaprogramokat tartalmazó MSDN Library anyagához.
	A termékekből rendszeres frissítéssel megkapják a legújabb
	verziókat, SDK-kat (szoftverfejlesztő készleteket), béta
	változatokat.
</p>

<p>
	A <strong>Microsoft Imagine for Academic Institutions</strong> 
    (korábbi nevén DreamSpark, MSDN Academic Alliance,
	azaz MSDNAA) az MSDN előfizetés és az Imagine program
	kifejezetten felsőoktatási intézmények számára kialakított
	változata.
</p>


<p>
	Az Imagine lehetővé teszi, hogy a Microsoft közel
	összes szoftverét (lényegében az Office csomag és
	játékok kivételével) a BME valamennyi karának oktatói és
	hallgatói tetszőleges számú példányban felhasználják
	oktatási és kutatási célra. Ez nemcsak a kész
	szoftvereket jelenti, hanem a béta és RC (kiadásra
	jelölt) tesztváltozatokat, a szoftverfejlesztő
	készleteket (SDK), információs anyagokat és
	dokumentációkat is. Magyarországon a Campus szerződés
	keretében a felsőoktatásban résztvevő hallgatók és
	oktatók ingyenesen használhatják az Office csomagot is,
	így ténylegesen elérhetővé válik minden fontosabb
	Microsoft-termék.
</p>


<p>
	A szoftverek minden intézményi számítógépen (oktatói
	számítógépek, laborok) használhatók. Ezenfelül az
	oktatók és a hallgatók az otthoni számítógépükre is
	telepíthetik a szoftvereket, így kényelmes saját
	környezetben is dolgozhatnak.
	<i class="icon icon-arrow-right"></i>
	<a href="@Url.RouteUrl( RouteNames.Licence )">Bővebben a felhasználási feltételekről</a>
</p>

<p>
	Bővebb információk az Imagine programról a hozzá tartozó
	hivatalos <a href="https://imagine.microsoft.com" target="_blank">
        https://imagine.microsoft.com
	</a> oldalon találhatók.
</p>

<p>
	<a class="btn btn-primary" href="@Url.RouteUrl( RouteNames.RegistrationGuide )">Regisztráció</a>
</p>

